{% load static %}

<div id="modal-usuario" class="modal">

    {% if not user.is_authenticated %}

    <div class="modal-contenido modal-usuario-contenido" id="modal-usuario_inicio-sesion">

        <span class="close boton-cerrar-modal-usuario">&times;</span>

        <h4>Te echábamos de menos</h4>

        <p class="texto-secundario">Inicia sesión con tu nombre de usuario y contraseña</p>

        <div class="contenedor-formulario">
            
            <form action="{% url 'usuarios:iniciar_sesion' %}" method="POST" class="formulario">
                {% csrf_token %}
                <div class="contenedor-input-texto">
                    <input name="username" type="text" class="input-texto" />
                    <label for="input-buscar" unselectable="on">Usuario</label>
                </div>
                <div class="contenedor-input-texto">
                    <input name="password" type="password" class="input-texto" />
                    <label for="input-buscar" unselectable="on">Contraseña</label>
                </div>

                <button type="submit" class="enlace_boton">Iniciar Sesión</button>
            </form>

            <div class="enlaces">
                <a class="enlace">¿Has olvidado tu contraseña?</a>
                <a class="enlace" id="boton-formulario-registro">¿No tienes una cuenta?</a>
            </div>

        </div>

    </div>

    <div class="modal-contenido modal-usuario-contenido" id="modal-usuario_registro" style="display: none;">

        <span class="close boton-cerrar-modal-usuario">&times;</span>

        <h4>Regístrate</h4>

        <p class="texto-secundario">Regístrate con un nombre de usuario, correo electrónico y contraseña. Tus datos estarán seguros con nosotros.</p>

        <div class="contenedor-formulario">
            
            <form action="{% url 'usuarios:registrar_usuario' %}" method="POST" class="formulario">
                {% csrf_token %}
                <div class="contenedor-input-texto">
                    <input type="text" name="username" maxlength="150" required="" class="input-texto" />
                    <label for="input-buscar" unselectable="on">Usuario</label>
                </div>
                <div class="contenedor-input-texto">
                    <input type="email" name="email" maxlength="128" id="id_email" class="input-texto" />
                    <label for="input-buscar" unselectable="on">Correo electrónico</label>
                </div>
                <div class="contenedor-input-texto">
                    <input type="password" name="password" maxlength="128" required="" id="id_password" class="input-texto" />
                    <label for="input-buscar" unselectable="on">Contraseña</label>
                </div>
                <div class="checkbox-vendedor">
                    <label class="contenedor-input-checkbox translate style-cyan">
                        <input type="checkbox" name="categoria" value="2" />
                        <span class="el">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path
                                    d="M10.0007 15.1709L19.1931 5.97852L20.6073 7.39273L10.0007 17.9993L3.63672 11.6354L5.05093 10.2212L10.0007 15.1709Z">
                                </path>
                            </svg>
                        </span>
                    </label>
                    <p>Registrarme como vendedor. <a class="texto-secundario" href="">(?)</a></p>
                </div>
                

                <button type="submit" class="enlace_boton">Registrarse</button>
            </form>

            <div class="enlaces">
                <a class="enlace" id="boton-formulario-inicio-sesion">¿Ya tienes una cuenta?</a>
            </div>

        </div>

    </div>

    {% else %}

    <div class="modal-contenido modal-usuario-contenido" style="max-width: 70rem;">

        <span class="close boton-cerrar-modal-usuario">&times;</span>

        <h4>Bienvenido, {{ user.username }}</h4>

        <div class="contenedor-formulario">

            {% comment %} FORMULARIO DE ACTUALIZACION DE DATOS {% endcomment %}
            <form action="" method="POST" class="formulario_actualizar-datos">
                {% csrf_token %}
                <div class="datos">
                    <div class="contenedor-input-texto contenedor-input-texto_animacion">
                        <input type="text" name="username" maxlength="150" required="" class="input-texto" value="{{ user.username }}" />
                        <label for="input-buscar" unselectable="on">Usuario</label>
                    </div>
                    <div class="contenedor-input-texto contenedor-input-texto_animacion">
                        <input type="email" name="email" maxlength="128" id="id_email" class="input-texto" value="{{ user.email }}" />
                        <label for="input-buscar" unselectable="on">Correo electrónico</label>
                    </div>
                    <div class="contenedor-input-texto {% if user.first_name %} contenedor-input-texto_animacion {% endif %}">
                        <input type="text" name="username" maxlength="150" required="" class="input-texto" {% if user.first_name %}value="{{ user.first_name }}" {% endif %} />
                        <label for="input-buscar" unselectable="on">Nombre</label>
                    </div>
                    <div class="contenedor-input-texto {% if user.first_name %} contenedor-input-texto_animacion {% endif %}">
                        <input type="text" name="username" maxlength="150" required="" class="input-texto" {% if user.last_name %}value="{{ user.last_name }}" {% endif %} />
                        <label for="input-buscar" unselectable="on">Apellidos</label>
                    </div>
                    <div class="contenedor-input-texto {% if user.telefono %} contenedor-input-texto_animacion {% endif %}">
                        <input type="text" name="telefono" maxlength="150" required="" class="input-texto" {% if user.telefono %}value="{{ user.telefono }}" {% endif %} />
                        <label for="input-buscar" unselectable="on">Teléfono</label>
                    </div>
                </div>
                
                <div class="contenedor-foto-perfil">
                    <img class="foto-perfil" src="{% if user.foto_perfil  %}{{ user.foto_perfil.url }}{% else %}{% static 'media/img/usuario.webp' %}{% endif %}">
                    <input type="file" name="foto_perfil" size="60" >
                </div>
                
                
                <button type="submit" class="enlace_boton">Actualizar datos</button>
            </form>

        </div>

        {% comment %} <a class="enlace_boton" href="link al perfil de usuario">Ver mi perfil</a>
        <a class="enlace_boton" href="{% url 'usuarios:cerrar_sesion' %}">Cerrar sersión</a> {% endcomment %}
    </div>

    {% endif %}

</div>