{% load static %}

<div id="modal-usuario" class="modal">

    {% if not user.is_authenticated %}

    <div class="modal-contenido modal-usuario-contenido" id="modal-usuario_inicio-sesion">

        <span class="close boton-cerrar-modal-usuario">&times;</span>

        <h4>Te echábamos de menos</h4>

        <p class="texto-secundario">Inicia sesión con tu nombre de usuario y contraseña</p>

        <div class="contenedor-formulario">
            
            <form action="{% url 'usuarios:iniciar_sesion' %}" method="POST" class="formulario">
                {% csrf_token %}
                <div class="contenedor-input-texto">
                    <input name="username" id="input-usuario" type="text" class="input-texto" />
                    <label for="input-usuario" unselectable="on">Usuario</label>
                </div>
                <div class="contenedor-input-texto">
                    <input name="password" id="input-password" type="password" class="input-texto" />
                    <label for="input-password" unselectable="on">Contraseña</label>
                </div>

                <button type="submit" class="enlace_boton">Iniciar Sesión</button>
            </form>

            <div class="enlaces">
                <a href="{% url 'usuarios:restablecer_contrasena' %}" class="enlace">¿Has olvidado tu contraseña?</a>
                <a class="enlace" id="boton-formulario-registro">¿No tienes una cuenta?</a>
            </div>

        </div>

    </div>

    <div class="modal-contenido modal-usuario-contenido" id="modal-usuario_registro" style="display: none;">

        <span class="close boton-cerrar-modal-usuario">&times;</span>

        <h4>Regístrate</h4>

        <p class="texto-secundario">Regístrate con un nombre de usuario, correo electrónico y contraseña. Tus datos estarán seguros con nosotros.</p>

        <div class="contenedor-formulario">
            
            <form action="{% url 'usuarios:registrar_usuario' %}" method="POST" class="formulario">
                {% csrf_token %}
                <div class="contenedor-input-texto">
                    <input type="text" name="username" maxlength="150" required="" id="id_usuario" class="input-texto" />
                    <label for="id_usuario" unselectable="on">Usuario</label>
                </div>
                <div class="contenedor-input-texto">
                    <input type="email" name="email" maxlength="128" id="id_email" class="input-texto" />
                    <label for="id_email" unselectable="on">Correo electrónico</label>
                </div>
                <div class="contenedor-input-texto">
                    <input type="password" name="password" maxlength="128" required="" id="id_password" class="input-texto" />
                    <label for="id_password" unselectable="on">Contraseña</label>
                </div>
                <div class="checkbox-vendedor">
                    <label class="contenedor-input-checkbox translate style-cyan">
                        <input type="checkbox" name="categoria" value="2" />
                        <span class="el">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path
                                    d="M10.0007 15.1709L19.1931 5.97852L20.6073 7.39273L10.0007 17.9993L3.63672 11.6354L5.05093 10.2212L10.0007 15.1709Z">
                                </path>
                            </svg>
                        </span>
                    </label>
                    <p>Registrarme como vendedor. <a class="texto-secundario" href="">(?)</a></p>
                </div>
                

                <button type="submit" class="enlace_boton">Registrarse</button>
            </form>

            <div class="enlaces">
                <a class="enlace" id="boton-formulario-inicio-sesion">¿Ya tienes una cuenta?</a>
            </div>

        </div>

    </div>

    {% else %}

    <div class="modal-contenido modal-usuario-contenido" style="max-width: 70rem;">

        <span class="close boton-cerrar-modal-usuario">&times;</span>

        <h4>Bienvenido, {{ user.username }}</h4>

        <div class="contenedor-formulario">

            {% comment %} FORMULARIO DE ACTUALIZACION DE DATOS {% endcomment %}
            <form action="{% url 'usuarios:actualizar_datos_usuario' %}" method="post" class="formulario_actualizar-datos" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="datos">
                    <div class="contenedor-input-texto contenedor-input-texto_animacion">
                        <input type="text" name="username" maxlength="150" required="" class="input-texto" value="{{ user.username }}" />
                        <label for="input-texto" unselectable="on">Usuario *</label>
                    </div>
                    <div class="contenedor-input-texto contenedor-input-texto_animacion">
                        <input type="email" name="email" maxlength="128" required="" id="id_email" class="input-texto" value="{{ user.email }}" />
                        <label for="id_email" unselectable="on">Correo electrónico *</label>
                    </div>
                    <div class="contenedor-input-texto {% if user.first_name %} contenedor-input-texto_animacion {% endif %}">
                        <input type="text" id="id_nombre" name="first_name" maxlength="150" class="input-texto" {% if user.first_name %}value="{{ user.first_name }}" {% endif %} />
                        <label for="id_nombre" unselectable="on">Nombre</label>
                    </div>
                    <div class="contenedor-input-texto {% if user.first_name %} contenedor-input-texto_animacion {% endif %}">
                        <input type="text" id="id_apellidos" name="last_name" maxlength="150" class="input-texto" {% if user.last_name %}value="{{ user.last_name }}" {% endif %} />
                        <label for="id_apellidos" unselectable="on">Apellidos</label>
                    </div>
                    <div class="contenedor-input-texto {% if user.telefono %} contenedor-input-texto_animacion {% endif %}">
                        <input type="text" id="id_telefono" name="telefono" maxlength="150" class="input-texto" {% if user.telefono %}value="{{ user.telefono }}" {% endif %} />
                        <label for="id_telefono" unselectable="on">Teléfono</label>
                    </div>

                    {% if user.categoria.id is 2 %}
                        <p class="texto-secundario texto-pequeno" style="margin: 0;">Esta cuenta está registrada como vendedor</p>
                    {% endif  %}
                </div>
                
                <div class="contenedor-foto-perfil">
                    <img class="foto-perfil" src="{% if user.foto_perfil  %}{{ user.foto_perfil.url }}{% else %}{% static 'media/img/usuario.webp' %}{% endif %}">
                    <div class="contenedor-file-input">
                        <input type="file" name="foto_perfil" id="file-input" class="file-input" />
                        <label class="etiqueta-file-input" for="file-input">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-photo-filled" width="24"
                                height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path
                                    d="M8.813 11.612c.457 -.38 .918 -.38 1.386 .011l.108 .098l4.986 4.986l.094 .083a1 1 0 0 0 1.403 -1.403l-.083 -.094l-1.292 -1.293l.292 -.293l.106 -.095c.457 -.38 .918 -.38 1.386 .011l.108 .098l4.674 4.675a4 4 0 0 1 -3.775 3.599l-.206 .005h-12a4 4 0 0 1 -3.98 -3.603l6.687 -6.69l.106 -.095zm9.187 -9.612a4 4 0 0 1 3.995 3.8l.005 .2v9.585l-3.293 -3.292l-.15 -.137c-1.256 -1.095 -2.85 -1.097 -4.096 -.017l-.154 .14l-.307 .306l-2.293 -2.292l-.15 -.137c-1.256 -1.095 -2.85 -1.097 -4.096 -.017l-.154 .14l-5.307 5.306v-9.585a4 4 0 0 1 3.8 -3.995l.2 -.005h12zm-2.99 5l-.127 .007a1 1 0 0 0 0 1.986l.117 .007l.127 -.007a1 1 0 0 0 0 -1.986l-.117 -.007z"
                                    stroke-width="0" fill="currentColor" />
                            </svg>
                            <span>Subir foto de perfil</span>
                        </label>
                    </div>
                </div>
                
                
                <button type="submit" class="enlace_boton">Actualizar datos</button>
            </form>

        </div>

        <div class="contenedor-enlaces">
            {% if user.categoria.id == 4  %}
            <a class="enlace_boton largo" href="{% url 'usuarios:formulario_peticion' %}">Petición de venta</a>
            {% endif %}
            <a class="enlace_boton" href="{% url 'pedidos:pedidos' %}">Ver mis pedidos</a>
            <a class="enlace_boton" href="{% url 'usuarios:ver_direcciones' %}">Gestionar direcciones</a>
            <a class="enlace_boton" href="{% url 'usuarios:restablecer_contrasena' %}">Cambiar contraseña</a>
            <a class="enlace_boton enlace-rojo" href="{% url 'usuarios:cerrar_sesion' %}">Cerrar sersión</a>
        </div>
        
    </div>

    {% endif %}

</div>