<div id="modal-vaciar-carrito" class="modal">

    <div class="modal-contenido modal-vaciar-carrito-contenido">

        <span id="boton-cerrar-modal-vaciar-carrito" class="close">&times;</span>

        <p>¿Seguro de que quieres quitar todos los artículos de tu carrito?</p>
        <p class="texto-secundario">No podrás deshacer este cambio</p>

        <div class="botones">
            <a class="enlace_boton" href="carrito.html">No</a>
            <span class="enlace-rojo">
                <a class="enlace_boton" href="carrito.html">Sí</a>
            </span>
        </div>

    </div>

</div>