.seccion-direcciones {

    .contenedor-direcciones {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .direccion {
            border: .1rem solid lighten($gris, 10%);
            border-radius: .5rem;
            min-height: 5rem;
            padding: 2rem;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            align-items: center;
            justify-content: center;
            box-shadow: $sombra-menor;
            

            .informacion {
                grid-column: 1 / 7;
                border-right: .1rem solid $gris;

                .importante {
                    font-size: 2.4rem;
                }

                p {
                    margin: 0;
                    &+p {
                        margin-top: .5rem;
                    }
                }
            }

            .botones {
                display: flex;
                justify-content: center;
                gap: 2rem;
                padding-left: 2rem;
                
                .boton {
                    color: $negro;
                    transition: color .3s ease;
                    display: grid;
                    place-items: center;
    
                    &:hover {
                        color: darken($gris, 35%);
                    }

                    &.rojo {
                        color: $rojo;
                    }
                    
                    &.rojo:hover {
                        color: rgba($rojo, .8);
                    }
                }
            }

            &.crear-direccion {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                cursor: pointer;
                min-height: 12rem !important;
                
                .enlace-crear-direccion, svg {
                    color: darken($gris, 20%);
                    transition: color .3s ease;
                }

                .enlace-crear-direccion {
                    font-size: 3rem;
                }

                &:hover .enlace-crear-direccion,
                &:hover svg {
                    color: $negro;
                }
            }

            @include tablet {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                .informacion {
                    border-right: none;
                    align-self: flex-start;
                }
            }

        } 
        
    }
}