{% extends 'general/main.html' %}

{% block contenido %}
    {% load static %}
    <main>

        <section class="contenedor seccion-producto">
            <img src="{{producto_detalle.imagen.url}}" alt="producto">
            <div class="informacion-producto">
                <p class="referencia">REF: {{producto_detalle.referencia}}</p>
                <h2 class="titulo-secundario">{{producto_detalle.nombre}}</h2>
                <div>
                    {% for color in producto_detalle.producto_color.all %}
                        <div style="border: .1rem solid #CCC; background-color: {{color.codigo_hex}}; display: inline-block; width: 3rem; height: 3rem; border-radius: 3rem; margin-right: 1rem;"></div>
                    {% endfor %}
                </div>

                {% if producto_detalle.oferta %}
                    <p><span class="texto-tachado">{{ producto_detalle.precio }}</span>&nbsp;&nbsp;&nbsp;<span class="negrita"> {{ producto_detalle.precio_oferta }}</span>€</p>
                {% else %}
                    <p><span class="negrita">{{ producto_detalle.precio }}</span>€</p>
                {% endif %}

                <p>
                    {{producto_detalle.descripcion}}
                </p>
                {% if producto_detalle.get_stock %}
                    <p class="texto-secundario">Utilizamos tallas europeas para nuestras prendas</p>
                    <form id="formulario-anadir-al-carrito" action="{% url 'usuarios:anadir_a_carrito' producto_detalle.id %}" method="get">
                        {% csrf_token %}
                        <div class="seleccion-producto">
                            <div class="contenedor-input-select">
                                <select class="desplegable" name="talla" id="">
                                    <option value="" selected disabled>Talla</option>
                                    {% for talla in producto_detalle.producto_talla_set.all %}
                                    <option value="{{talla.id}}">{{talla.talla}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="numero-articulos">
                                <input type="number" min="1" max="91" step="1" value="1" name="cantidad">
                                <div class="numero-articulos-nav">
                                    <div class="numero-articulos-button numero-articulos-up">+</div>
                                    <div class="numero-articulos-button numero-articulos-down">-</div>
                                </div>
                            </div>
                        </div>
                    </form>

                {% else %}
                    <p class="texto-secundario">No hay stock de este producto</p>
                {% endif %}
                <div class="botones">
                    {% if producto_detalle.get_stock %} 
                        <a class="enlace_boton" id="anadir-al-carrito">
                            Añadir al carrito
                        </a>
                    {% endif %}
                    <a class="enlace_boton" href="{% url 'productos:seccion_tipo_prenda' producto_detalle.categoria producto_detalle.producto_tipo_prenda.first|slugify %}">
                        Sección {{ producto_detalle.producto_tipo_prenda.first|lower }}
                    </a>
                    <a href="
                    {% if esta_en_lista_de_deseos %}
                        {% url 'usuarios:quitar_de_lista_deseos' producto_detalle.id %}
                    {% else %}
                        {% url 'usuarios:anadir_a_lista_deseos' producto_detalle.id %}
                    {% endif %}
                    ">
                        <svg class="{% if esta_en_lista_de_deseos %}icono-corazon_activo{% else %}icono-corazon{% endif %}" width="28px" height="28px"
                            viewBox="0 0 22 22" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M19.3 5.71002C18.841 5.24601 18.2943 4.87797 17.6917 4.62731C17.0891 4.37666 16.4426 4.2484 15.79 4.25002C15.1373 4.2484 14.4909 4.37666 13.8883 4.62731C13.2857 4.87797 12.739 5.24601 12.28 5.71002L12 6.00002L11.72 5.72001C10.7917 4.79182 9.53273 4.27037 8.22 4.27037C6.90726 4.27037 5.64829 4.79182 4.72 5.72001C3.80386 6.65466 3.29071 7.91125 3.29071 9.22002C3.29071 10.5288 3.80386 11.7854 4.72 12.72L11.49 19.51C11.6306 19.6505 11.8212 19.7294 12.02 19.7294C12.2187 19.7294 12.4094 19.6505 12.55 19.51L19.32 12.72C20.2365 11.7823 20.7479 10.5221 20.7442 9.21092C20.7405 7.89973 20.2218 6.64248 19.3 5.71002Z">
                        </svg>
                    </a>
                </div>
            </div>

        </section>

        <section class="contenedor seccion-productos-recomendados">

            <h3 class="titulo-secundario">A otros clientes también les gustó...</h3>

            <div class="display-productos">

                {% for producto in productos_recomendados %}

                    <div class="producto-display_card">
                        <div class="imagen">
                            {% if producto.oferta %}
                                <span class="marcador-oferta">Oferta</span>
                            {% endif %}
                            <img src="{{ producto.imagen.url }}" alt="">
                        </div>
                        <div class="informacion">
                            <p class="negrita">{{ producto.nombre }}</p>
                            {% if producto.oferta %}
                                <p><span class="negrita"><span class="texto-tachado">{{ producto.precio }}</span>&nbsp;&nbsp;&nbsp;{{ producto.precio_oferta }}</span>€</p>
                            {% else %}
                                <p><span class="negrita">{{ producto.precio }}</span>€</p>
                            {% endif %}

                            <a class="enlace" href="{% url 'productos:producto_detalle' producto.id %}">Ver producto</a>
                        </div>
                    </div>

                {% endfor %}

            </div>

        </section>

        {% include 'usuarios/valoraciones.html' %}

        {% include 'general/base/paginacion.html' with objetos_paginas=comentarios %}

    </main>
{% endblock %}

{% block scripts %}
    {% load static %}
    <script type="text/javascript" src="{% static 'scripts/producto-detalle/index.js' %}"></script>
{% endblock %}