{% extends 'general/main.html' %}

{% block contenido %}
    <main>

        <h2 class="titulo">{{categoria}}</h2>

        <section class="contenedor seccion-ropa-productos">
        {% for tipo_prenda, productos in productos_por_tipo_prenda.items %}

            <div class="contenedor-ver-mas">
                <h3 class="titulo-secundario">{{tipo_prenda.descripcion}}</h3>
                <span></span>
                <a class="enlace" href="{% url 'productos:seccion_tipo_prenda' categoria|slugify tipo_prenda|slugify %}">Ver todo</a>
            </div>
 
            <div class="display-productos">
            {% for producto in productos %}

                <div class="producto-display_card">
                    <div class="imagen">
                        {% if producto.oferta %}
                        <span class="marcador-oferta">Oferta</span>
                        {% endif %}
                        <img src="{{producto.imagen.url}}" alt="Imagen del producto">
                    </div>
                    <div class="informacion">
                        <p class="negrita">{{producto.nombre}}</p>
                        {% if producto.oferta %}
                            <p><span class="negrita"><span class="texto-tachado">{{ producto.precio }}</span>&nbsp;&nbsp;&nbsp;{{ producto.precio_oferta }}</span>€</p>
                        {% else %}
                            <p><span class="negrita">{{ producto.precio }}</span>€</p>
                        {% endif %}
                        <a class="enlace" href="{% url 'productos:producto_detalle' producto.id %}">Ver producto</a>
                    </div>
                </div>

            {% endfor %}
            </div>

        {% endfor %}
        </section>
        
    </main>
{% endblock %}