{% extends 'general/main.html' %}

{% block contenido %}
    <main>

        <section class="seccion-carrito">

            <div class="contenedor">

                <h2 class="titulo">Tu carrito de compra</h2>

                {% if carrito.tiene_productos %}
    
                <p class="negrita">Tienes {{carrito.carrito_productos_set.all|length}} producto{{carrito.carrito_productos_set.all|pluralize:"s"}} en tu carrito</p>
    
    
                <div class="display-productos">
    
                    {% for producto_del_carrito in carrito.carrito_productos_set.all %}
                    <div class="producto-display_row">
                        <div class="imagen">
                            {% if producto_del_carrito.producto.oferta %}
                            <span class="marcador-oferta">Oferta</span>
                            {% endif %}
                            <img src="{{ producto_del_carrito.producto.imagen.url }}" alt="Imagen de la prenda">
                        </div>
                        <div class="informacion">
                            <p class="nombre-articulo negrita">{{ producto_del_carrito.producto.nombre }}</p>
                            <p class="texto-secundario">REF: {{ producto_del_carrito.producto.referencia }}</p>
                            {% if producto_del_carrito.producto.oferta %}
                                <p><span class="negrita"><span class="texto-tachado">{{ producto_del_carrito.producto.precio }}</span>&nbsp;&nbsp;&nbsp;{{ producto_del_carrito.producto.precio_oferta }}</span>€</p>
                            {% else %}
                                <p><span class="negrita">{{ producto_del_carrito.producto.precio }}</span>€</p>
                            {% endif %}
                            {% if producto_del_carrito.producto.get_stock %}
                                <p>Talla seleccionada: <span class="negrita">{{ producto_del_carrito.talla.talla }}</span></p>
                                <p>Cantidad: <span class="negrita">{{ producto_del_carrito.cantidad }}</span></p>
                            {% else %}
                                <p class="texto-secundario texto-rojo">No hay stock de este producto</p>
                            {% endif %}
                            <div class="botones">
                                <a class="enlace_boton" href="{% url 'productos:producto_detalle' producto_del_carrito.producto.id %}">Ver producto</a>
                                <a class="enlace_boton" href="{% url 'usuarios:quitar_del_carrito' producto_del_carrito.producto.id %}">Quitar</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>

            <div class="pie-carrito pie-carrito_sin-sombra">
                <div class="contenedor">
                    <p class="negrita">Subtotal: <span class="titulo-secundario">{{ subtotal }}</span>€ <br>
                        <span class="texto-secundario">Envío gratuito en pedidos superiores a 50€</span>
                    </p>
                    <div class="botones">
                        <a class="enlace_boton" href="compra.html">Comprar todo</a>
                        <a class="enlace_boton" id="boton-vaciar-carrito">Vaciar carrito</a>
                    </div>
                </div>
            </div>

            {% else %}

            <p class="texto-centrado texto-secundario">Todavía no has añadido ningún producto al carrito.</p>

            {% endif %}

        </section>

        <section class="seccion-carrito-descripcion">

            <div class="ondas"></div>

            <div class="contenedor contenedor-informacion">

                <h2 class="titulo-secundario">En The Jam Store...</h2>
                <ul class="lista">
                    <li class="elemento-lista">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#b1b1b1" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M9 6l6 6l-6 6" />
                        </svg>
                        <span>Tus compras te llegarán a casa en <span class="texto-verde">menos de 72h</span> desde el momento en el
                            que realices tu pedido y sea procesado por nuestro equipo. <span class="texto-secundario">(No se
                                tendrán en cuenta días festivos / fines de semana)</span></span>
                    </li>
                    <li class="elemento-lista">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#b1b1b1" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M9 6l6 6l-6 6" />
                        </svg>
                        <span>Nos comprometemos a ofrecerte la mejor relación <span
                                class="texto-verde">calidad - precio.</span></span>
                    </li>
                    <li class="elemento-lista">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#b1b1b1" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M9 6l6 6l-6 6" />
                        </svg>
                        <span>Valoramos <span class="texto-verde">tu opinión
                        </span> y nos esforzamos por mejorar constantemente. Si tienes alguna sugerencia o comentario,
                        estaremos encantados de escucharte.</span>
                    </li>
                    <li class="elemento-lista">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#b1b1b1" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M9 6l6 6l-6 6" />
                        </svg>
                        <span>Mantenemos una política de <span class="texto-verde">privacidad
                        </span> estricta y nunca compartiremos
                        tus datos personales con terceros sin tu consentimiento</span>
                    </li>
                    <li class="elemento-lista">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#b1b1b1" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M9 6l6 6l-6 6" />
                        </svg>
                        <span>Nuestro objetivo es superar tus expectativas en cada compra,
                        brindándote un servicio excepcional y productos de <span class="texto-verde">alta calidad
                        </span>.</span>
                    </li>
                    

                </ul>

            </div>

        </section>

        {% include 'usuarios/modales/vaciar-carrito.html' %}

    </main>
{% endblock %}

{% block scripts %}
    {% load static %}
    <script type="text/javascript" src="{% static 'scripts/carrito/index.js' %}"></script>
{% endblock %}