{% extends 'general/main.html' %}

{% block contenido %}
    <main>


        <section class="contenedor seccion-formulario-crear-direccion">

            <div class="contenedor-formulario">
                <form action={% url 'usuarios:anadir_direccion' %} method="post">
                    {% csrf_token %}
                    <div class="contenedor-doble">
                        <div class="contenedor-input-select">
                            <select class="desplegable" name="" id="">
                                <option value="" selected disabled>Provincia</option>
                                {% for provincia in provincias %}
                                <option value="{{provincia}}">{{provincia.get_provincia_display}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="contenedor-input-texto contenedor-input-texto_animacion">
                            <input type="text" name="username" maxlength="150" required="" class="input-texto" value="{{ user.username }}" />
                            <label for="input-texto" unselectable="on">Municipio *</label>
                        </div>
                    </div>
                    <div class="contenedor-doble">
                        <div class="contenedor-input-texto contenedor-input-texto_animacion">
                            <input type="text" name="username" maxlength="150" required="" class="input-texto" value="{{ user.username }}" />
                            <label for="input-texto" unselectable="on">Usuario *</label>
                        </div>
                        <div class="contenedor-input-texto contenedor-input-texto_animacion">
                            <input type="text" name="username" maxlength="150" required="" class="input-texto" value="{{ user.username }}" />
                            <label for="input-texto" unselectable="on">Usuario *</label>
                        </div>
                    </div>
                    <div class="contenedor-doble">
                        <div class="contenedor-input-texto contenedor-input-texto_animacion">
                            <input type="text" name="username" maxlength="150" required="" class="input-texto" value="{{ user.username }}" />
                            <label for="input-texto" unselectable="on">Usuario *</label>
                        </div>
                        <div class="contenedor-input-texto contenedor-input-texto_animacion">
                            <input type="text" name="username" maxlength="150" required="" class="input-texto" value="{{ user.username }}" />
                            <label for="input-texto" unselectable="on">Usuario *</label>
                        </div>
                    </div>



                    <button type="submit" class="enlace_boton">Añadir dirección</button>
                </form>
            </div>
            

        </section>


        {% include 'general/base/paginacion.html' with objetos_paginas=direcciones %}

    </main>
{% endblock %}