{% load static %}

<section class="seccion-valoraciones">

    <div class="ondas"></div>

    {% if user.is_authenticated %}
    
        {% if pedido_por_usuario.recibido %}

        <div class="contenedor contenedor-anadir-valoracion">

                <h4 class="titulo-secundario">¡Danos tu opinión!</h4>

                <form action="{% url 'usuarios:valorar_producto' producto_detalle.id %}" method="post" class="formulario-valoracion">

                    {% csrf_token %}

                    <div class="contenedor-input-texto contenedor-input-texto_textarea">
                        <textarea type="text" id="input-buscar" name="texto" class="login-input"></textarea>
                        <label for="input-buscar" unselectable="on">Escribe aquí tu opinión (opcional)</label>
                    </div>
                
                    <div class="contenedor-doble">
                        
                        <div class="contenedor-input-estrellas">

                            <p class="texto-secundario">Valora el producto *</p>
                            <div class="valoracion">
                                <input class="input-valoracion" type="radio" id="estrella5" name="valoracion" value="5" required />
                                <label class="estrella" for="estrella5">
                                </label>
                                <input class="input-valoracion" type="radio" id="estrella4" name="valoracion" value="4" />
                                <label class="estrella" for="estrella4">
                                </label>
                                <input class="input-valoracion" type="radio" id="estrella3" name="valoracion" value="3" />
                                <label class="estrella" for="estrella3">
                                </label>
                                <input class="input-valoracion" type="radio" id="estrella2" name="valoracion" value="2" />
                                <label class="estrella" for="estrella2">
                                </label>
                                <input class="input-valoracion" type="radio" id="estrella1" name="valoracion" value="1" />
                                <label class="estrella" for="estrella1">
                                </label>
                            </div>
                        </div>
                        
                        <button class="enlace_boton" type="submit">Publicar Valoración</button>
                    </div>

                </form>

        </div>

        {% elif pedido_por_usuario.comprado %}

        <div class="contenedor">
            <p class="texto-secundario texto-verde">Podrás valorar el producto una vez recibido</p>
        </div>

        {% endif %}

    {% endif %}

    <div class="contenedor contenedor-valoraciones">
        <h3 class="titulo-secundario">Opiniones del producto</h3>

        {% if comentarios %}

            <p class="texto-secundario">Total de valoraciones: {{ comentarios|length }}</p>
            <div class="valoraciones">   

            {% for comentario in comentarios %}

                <div class="valoracion">
                    <div class="informacion-valoracion">
                        <div class="usuario">
                            <img class="foto-perfil" src="{% if comentario.usuario.foto_perfil  %}{{ comentario.usuario.foto_perfil.url }}{% else %}{% static 'media/img/usuario.webp' %}{% endif %}" alt="">
                            <p>{{ comentario.usuario.first_name }} {{ comentario.usuario.last_name }}</p>
                        </div>
                        <div class="puntuacion">
                            <div class="estrellas">
                                {% with ''|center:comentario.valoracion as range %}
                                {% for _ in range %}
                                    <span class="estrella"></span>
                                {% endfor %}
                                {% endwith %}
                                <span class="texto-secundario centrar-texto" style="align-self: center; margin-left: 1rem;">{{comentario.get_valoracion_display}}</span>
                            </div>
                        </div>
                        {% if comentario.comentario %}
                        <p class="comentario">{{ comentario.comentario }}</p>
                        {% endif %}
                        <p class="texto-secundario">Publicado el {{ comentario.created|date:"d \d\e F \d\e Y" }}</p>
                    </div>
                </div>

            {% endfor %}

            </div>

            <div class="ver-mas">
                <span></span>
                <p class="texto-secundario">Ver todas las valoraciones</p>
                <span></span>
            </div>

        {% else %}

            <p class="negrita texto-secundario">Vaya, nadie ha comentado aún...</p>

        {% endif %}


        </div>

    </div>

</section>