{% extends 'general/main.html' %}

{% block contenido %}
    {% load static %}
    <main>

        <section class="seccion-video">

            <div class="overlay">
                <div class="textos-overlay">
                    <h2 class="titulo">The Jam Store</h2>
                    <p class="titulo-secundario">Moda urbana y más</p>
                </div>
            </div>

            <video autoplay muted loop>
                <source src="{% static 'media/vid/video-fondo.mp4' %}" type="video/mp4">
                <source src="{% static 'media/vid/video-fondo.webm' %}" type="video/webm">
                <source src="{% static 'media/vid/video-fondo.ogg' %}" type="video/ogg">

            </video>

        </section>

        <section class="contenedor seccion-descuentos">

            <h2 class="titulo-secundario">Ofertas Recientes</h2>

            <div class="display-productos">

                {% if ofertas_recientes %}

                    {% for producto in ofertas_recientes %}

                        <div class="producto-display_card">
                            <div class="imagen">
                                <span class="marcador-oferta">Oferta</span>
                                <img src="{{producto.imagen.url}}" alt="Imagen del Producto">
                            </div>
                            <div class="informacion">
                                <p class="negrita">{{producto.nombre}}</p>
                                <p><span class="negrita"><span
                                            class="texto-tachado">{{producto.precio}}€</span>&nbsp;&nbsp;&nbsp;{{producto.precio_oferta}}</span>€</p>
                                <a class="enlace" href="{% url 'productos:producto_detalle' producto.id %}">Ver producto</a>
                            </div>
                        </div>

                    {% endfor %}

                {% else %}
                    <p class="texto-secundario">Vaya, esta semana no hay descuentos...</p>
                {% endif %}

            </div>

        </section>

        <section class="contenedor seccion-destacado">

            <h2 class="titulo-secundario">Destacado</h2>

            <article>

                <img class="imagen-destacado" src="{{producto_novedad.imagen.url}}" alt="">

                <div class="informacion-destacado">

                    <h3 class="titulo-secundario">{{producto_novedad.nombre}}</h3>

                    <p id="descripcion-destacado">
                        {{producto_novedad.descripcion}}
                    </p>

                    <a class="enlace_boton" href="{% url 'productos:producto_detalle' producto_novedad.id %}">Saber más</a>

                </div>

            </article>

        </section>

        <section class="seccion-garantias">

            <div class="ondas"></div>

            <h1 class="titulo">Qué ofrece <span>The Jam Store</span></h1>

            <div class="contenedor contenedor-garantias">

                <div class="garantia">
                    <h2 class="titulo-secundario">Envíos en <span>24 horas</span></h2>
                    <p>Una vez realizado el pago y confirmado el pedido, nuestro equipo se encargará de que el pedido
                        llegue a su domicilio en las siguientes 24 horas laborales (dentro de la península ibérica).</p>
                </div>

                <div class="garantia">
                    <h2 class="titulo-secundario">Cambio y devolución <span>gratis</span></h2>
                    <p>Podrás cambiar o devolver cualquier producto de la tienda dentro del plazo de 30 días.</p>
                </div>

                <div class="garantia">
                    <h2 class="titulo-secundario">Calidad <span>de primera</span></h2>
                    <p>Nuestra selección de ropa está hecha con materiales de alta calidad y está diseñada para
                        adaptarse a tu estilo de vida.</p>
                </div>

            </div>

        </section>

    </main>
{% endblock %}

{% block scripts %}
    {% load static %}
    <script type="text/javascript" src="{% static 'scripts/index/index.js' %}"></script>
{% endblock %}

<!-- Nada de esto hubiera sido posible sin la ayudda de nuestro amigo ChatGPT. Gracias por tanto, perdón por tan poco -->