{% extends 'general/main.html' %}

{% block contenido %}
    {% load static %}
    <main>

        <section class="seccion-video">

            <div class="overlay">
                <div class="textos-overlay">
                    <h2 class="titulo">The Jam Store</h2>
                    <p class="titulo-secundario">Moda urbana y más</p>
                </div>
            </div>

            <video autoplay muted loop>
                <source src="{% static 'media/vid/video-fondo.mp4' %}" type="video/mp4">
                <source src="{% static 'media/vid/video-fondo.webm' %}" type="video/webm">
                <source src="{% static 'media/vid/video-fondo.ogg' %}" type="video/ogg">

            </video>

        </section>

        <section class="contenedor seccion-descuentos">

            <h2 class="titulo-secundario">Descuentos semanales</h2>

            <div class="display-productos">

                <div class="producto-display_card">
                    <div class="imagen">
                        <span class="marcador-oferta">Oferta</span>
                        <img src="media/img/camiseta-rip-n-dip.jpg" alt="">
                    </div>
                    <div class="informacion">
                        <p class="negrita">Camiseta Ripndip</p>
                        <p><span class="negrita"><span
                                    class="texto-tachado">63,99€</span>&nbsp;&nbsp;&nbsp;45,50</span>€</p>
                        <a class="enlace" href="articulo.html">Ver producto</a>
                    </div>
                </div>

                <div class="producto-display_card">
                    <div class="imagen">
                        <span class="marcador-oferta">Oferta</span>
                        <img src="media/img/grin-t-shirt.jpg" alt="">
                    </div>
                    <div class="informacion">
                        <p class="negrita">Camiseta Carhartt Grin</p>
                        <p><span class="negrita">56,80</span>€</p>
                        <a class="enlace" href="articulo.html">Ver producto</a>
                    </div>
                </div>

                <div class="producto-display_card">
                    <div class="imagen">
                        <span class="marcador-oferta">Oferta</span>
                        <img src="media/img/camiseta-dortmund.jpg" alt="">
                    </div>
                    <div class="informacion">
                        <p class="negrita">Camiseta Dortmund</p>
                        <p><span class="negrita">64,99</span>€</p>
                        <a class="enlace" href="articulo.html">Ver producto</a>
                    </div>
                </div>

                <div class="producto-display_card">
                    <div class="imagen">
                        <span class="marcador-oferta">Oferta</span>
                        <img src="media/img/gorra-nike.jpg">
                    </div>
                    <div class="informacion">
                        <p class="negrita">Gorra Nike</p>
                        <p><span class="negrita">15,00</span>€</p>
                        <a class="enlace" href="articulo.html">Ver producto</a>
                    </div>
                </div>


            </div>

        </section>

        <section class="contenedor seccion-destacado">

            <h2 class="titulo-secundario">Destacado</h2>

            <article>

                <img class="imagen-destacado" src="media/img/jordan-1-high-fearless.png" alt="">

                <div class="informacion-destacado">

                    <p id="descripcion-destacado">
                        En 2019, hacía 10 años que Michael Jordan dio su primer discurso en el Salón de la Fama del
                        Baloncesto. Ese día pronunció un discurso memorable que nadie olvidará. Las Jordan 1 High
                        Fearless rinden homenaje al discurso que pronunció ese día. Michael Jordan usó las palabras
                        <i>"Limits, like fears, are often just an illusion"</i> ("Los límites, como los miedos, a menudo
                        son solo una ilusión"). <br><br>

                        ¿Sabías ya que en la plantilla están impresas estas palabras <i>"Limits, like fears, are often
                            just an illusion"</i>? Encima de estas palabras encontrará la palabra <i>"FEAR"</i>
                        ("MIEDO"), pero
                        tachada.
                    </p>

                    <a class="enlace_boton" href="articulo.html">Saber más</a>

                </div>

            </article>

        </section>

        <section class="seccion-garantias">

            <div class="ondas"></div>

            <h1 class="titulo">Qué ofrece <span>The Jam Store</span></h1>

            <div class="contenedor contenedor-garantias">

                <div class="garantia">
                    <h2 class="titulo-secundario">Envíos en <span>24 horas</span></h2>
                    <p>Una vez realizado el pago y confirmado el pedido, nuestro equipo se encargará de que el pedido
                        llegue a su domicilio en las siguientes 24 horas laborales (dentro de la península ibérica).</p>
                </div>

                <div class="garantia">
                    <h2 class="titulo-secundario">Cambio y devolución <span>gratis</span></h2>
                    <p>Podrás cambiar o devolver cualquier producto de la tienda dentro del plazo de 30 días.</p>
                </div>

                <div class="garantia">
                    <h2 class="titulo-secundario">Calidad <span>de primera</span></h2>
                    <p>Nuestra selección de ropa está hecha con materiales de alta calidad y está diseñada para
                        adaptarse a tu estilo de vida.</p>
                </div>

            </div>

        </section>

    </main>
{% endblock %}

{% block scripts %}
    {% load static %}
    <script type="text/javascript" src="{% static 'scripts/index/index.js' %}"></script>
{% endblock %}

<!-- Nada de esto hubiera sido posible sin la ayudda de nuestro amigo ChatGPT. Gracias por tanto, perdón por tan poco -->