{% if objetos_paginas.has_other_pages %}
<section class="contenedor seccion-paginacion">
            
    {% if not objetos_paginas.has_previous %}
    <div class="contenedor-botones desactivado">
        <div class="botones">
            <a class="contenedor-boton">
                <span class="boton">&lt;&lt;</span>
            </a>
            <a class="contenedor-boton">
                <span class="boton">&lt;</span>
            </a>
        </div>
    </div>
    {% else %}
    <div class="contenedor-botones">
        <div class="botones">
            <a href="?busqueda={{busqueda}}&pag={{objetos_paginas.paginator.first_page_number}}" class="contenedor-boton">
                <span class="boton">&lt;&lt;</span>
            </a>

            <a href="?busqueda={{busqueda}}&pag={{objetos_paginas.previous_page_number}}" class="contenedor-boton">
                <span class="boton">&lt;</span>
            </a>
        </div>
    </div>    
    {% endif %}

    <div class="contenedor-botones paginas">

        <div class="botones">

            {% for pagina in objetos_paginas.paginator.page_range  %}
                <a href="?busqueda={{busqueda}}&pag={{pagina}}" class="contenedor-boton {% if objetos_paginas.number is pagina %}actual{% endif %}">
                    <span class="boton">{{ pagina }}</span>
                </a>
            {% endfor %}

        </div>

    </div>

    {% if not objetos_paginas.has_next %}
    <div class="contenedor-botones desactivado">
        <div class="botones">
            <a class="contenedor-boton">
                <span class="boton">&gt;&gt;</span>
            </a>
            <a class="contenedor-boton">
                <span class="boton">&gt;</span>
            </a>
        </div>
    </div>
    {% else %}
    <div class="contenedor-botones">
        <div class="botones">
            <a href="?busqueda={{busqueda}}&pag={{objetos_paginas.next_page_number}}" class="contenedor-boton">
                <span class="boton">&gt;</span>
            </a>

            <a href="?busqueda={{busqueda}}&pag={{objetos_paginas.paginator.num_pages}}" class="contenedor-boton">
                <span class="boton">&gt;&gt;</span>
            </a>
        </div>
    </div>    
    {% endif %}

</section>
{% endif %}