{% comment %} {% extends 'general/main.html' %} {% endcomment %}

{% load static %}

{% include 'pedidos/scripts-stripe.html' %}

{% comment %} {% block contenido %} {% endcomment %}
    <main>

        <section class="contenedor seccion-pedidos">

            {% if error %}
            <p>{{ error }}</p>
            {% endif %}

            <div class="center-form">
                <form action="{% url 'pedidos:realizar_pedido' direccion %}" method="post" id="payment-form">
                    <h2>Pago del Viaje</h2>
                    {% csrf_token %}
                    <p>Precio Total: {{ precio_total }}€</p>
                    <div id="card-element">
                        <!-- Elemento de tarjeta de crédito de Stripe -->
                    </div>
                    <div id="card-errors" role="alert"></div>
                    <button type="submit">Pagar</button>
                </form>
            </div>

            {% for producto in pedido.pedido_producto_set.all %}
                {{producto}}
            {% endfor %}

            <script>
                var stripe = Stripe('pk_test_51NJKVRJcEWd3pOtkebemHn9v2T5EMRTqCGOkSB77bRRffbdnhPh7B76oBFyrL34wTNXvGRDBUKCLlfFwsbCYs12R00B67AM5ki');
                var elements = stripe.elements();
                var cardElement = elements.create('card');
                cardElement.mount('#card-element');
            
                var form = document.getElementById('payment-form');
                var errorElement = document.getElementById('card-errors');
            
                form.addEventListener('submit', function(event) {
                    event.preventDefault();
            
                    stripe.createToken(cardElement).then(function(result) {
                        if (result.error) {
                            // Mostrar el mensaje de error en el elemento correspondiente
                            errorElement.textContent = '<span class="error-message">' + result.error.message + '</span>';
                        } else {
                            // Limpiar cualquier mensaje de error anterior
                            errorElement.textContent = '';
            
                            var tokenInput = document.createElement('input');
                            tokenInput.type = 'hidden';
                            tokenInput.name = 'stripeToken';
                            tokenInput.value = result.token.id;
                            form.appendChild(tokenInput);
                            form.submit();
                        }
                    });
                });
            </script>

        </section>

    </main>
{% comment %} {% endblock %} {% endcomment %}
<body class="fondo">
    
</body>
</html>